<!doctype html>
<html ng-app="app">

<style type="text/css">
	body {
		font-family: Verdana, Arial, sans-serif;
		font-size: 12px;
	}

	fieldset {
		border: 1px solid #ddd;
		margin-bottom: 10px;
	}

	form div {
		margin-bottom: 10px;
	}

	label {
		display: block;
	}

	hr {
		border: 0 none;
		border-bottom: 1px solid #ddd;
		height: 0;
		margin: 20px 0;
	}

	.content-top {
		position: absolute;
		top: 0;
		left: 10px;
		right: 10px;
		bottom: 200px;
		overflow: auto;
	}
	.content-left {
		position: absolute;
		top: 180px;
		left: 10px;
		bottom: 35px;
		width: 250px;
		overflow: auto;
	}
	.content-main {
		position: absolute;
		top: 180px;
		left: 275px;
		right: 10px;
		bottom: 35px;
		overflow: auto;
	}
	.content-foot {
		position: absolute;
		bottom: 10px;
		left: 10px;
		right: 10px;
	}
</style>
<link rel="stylesheet" type="text/css" href="src/dialogbox.css"/>

<div class="content-top">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
</div>
<div class="content-left">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris justo justo, tincidunt ut pellentesque at, semper sed leo. Proin magna lacus, pretium eu massa in, condimentum faucibus felis. Etiam eu odio bibendum, dictum urna et, posuere quam. Donec eu velit nibh. In feugiat mollis vestibulum. Nullam nec fermentum nunc. Etiam consequat mi at neque mattis, sit amet aliquam nulla feugiat. Maecenas sit amet nisi malesuada nulla lobortis dapibus. Duis diam turpis, sollicitudin quis pharetra sed, condimentum quis dolor. Maecenas pulvinar metus neque, et accumsan odio dapibus non.</p>
</div>

<div class="content-main" ng-controller="DialogCtrl">
	<h1>angular-dialogbox</h1>

	<form>
		<fieldset>
			<legend>Labels</legend>
			<div>
				<label>Heading</label>
				<input type="text" ng-model="options.labels.heading"/>
			</div>
			<div>
				<label>Subheading</label>
				<input type="text" ng-model="options.labels.subheading"/>
			</div>
		</fieldset>
		<fieldset>
			<legend>Dimensions</legend>
			<div>
				<label>Size</label>
				<select ng-options="size.value as size.label for size in sizes" ng-model="options.dimensions.size"></select>
			</div>
			<div>
				<label>Width</label>
				<input type="number" ng-model="options.dimensions.width"/>
			</div>
			<div>
				<label>Height</label>
				<input type="number" ng-model="options.dimensions.height"/>
			</div>
		</fieldset>

		<div>
			<label>Modal <input type="checkbox" ng-model="options.modal"/></label>
		</div>
		<button ng-click="dialog.open()">Open Dialog</button>
	</form>

	<hr/>

	<h3>options</h3>
	<pre>{{ options | json }}</pre>

    <div ng-dialogbox="test"
		 modal="{{ options.modal }}"
		 width="{{ options.dimensions.width }}"
		 height="{{ options.dimensions.height }}"
		 size="{{ options.dimensions.size }}"
		 heading="{{ options.labels.heading }}"
		 subheading="{{ options.labels.subheading }}"
		 content="{{ content }}"
		 content-url="{{ contentUrl }}"
		 buttons="buttons"></div>
</div>

<div class="content-foot">&copy; Lorem ipsum 2014</div>

<script src="bower_components/angular/angular.js"></script>
<script src="src/dialogbox.js"></script>

<script>
    angular.module('app', ['angular-dialogbox'])
        .controller('DialogCtrl', function ($scope, $dialogbox) {
			$dialogbox.get('test').then(function (dialog) {
				$scope.dialog = dialog;
			});

			$scope.sizes = [
				{label: 'Full', value: 'full'},
				{label: 'Large', value: 'large'},
				{label: 'Medium', value: 'medium'},
				{label: 'Small', value: 'small'}
			];

			$scope.options = {
				labels: {
					heading: 'Hello World',
					subheading: 'Thanks for coming!'
				},
				dimensions: {
					size: 'medium',
					width: undefined,
					height: undefined
				},
				modal: true
			};

            $scope.content = 'Lorem Ipsum';
			$scope.contentUrl = '/content.html';
			$scope.buttons = {
				left: [{
					label: 'OK'
				}, {
					label: 'Cancel'
				}]
			};
        });
</script>
