.ng-dialogbox-scrim {
	background: rgba(0, 0, 0, .5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 100;
}

.ng-dialogbox-border {
	background: rgba(0, 0, 0, .2);
	padding: 10px;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
}

.ng-dialogbox {
	background: #fff;
	border-radius: 3px 3px 0 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.ng-dialogbox-header {
	border-radius: 3px 3px 0 0;
	position: absolute;
	top: 0; right: 0; left: 0;
}

.ng-dialogbox-options {
	position: absolute;
	right: 0; top: 0;
}

.ng-dialogbox-close {
	background: #bbb;
	border: 1px solid #999;
	border-radius: 17px;
	box-shadow: 0 1px 0 0 #fff;
	-moz-box-shadow: 0 1px 0 0 #fff;
	-webkit-box-shadow: 0 1px 0 0 #fff;
	color: #fff;
	cursor: pointer;
	font-family: Times;
	font-size: 16px;
	line-height: 16px;
	display: block;
	width: 17px;
	height: 17px;
	margin: 5px;
	text-align: center;
	text-shadow: 0 1px 0 #666;
	visibility: hidden;
}

.ng-dialogbox-caption {
	border-radius: 3px 3px 0 0;
	background-color: #e6e6e6;
	line-height: 24px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 1px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
	border-bottom: 1px solid #b7b7b7;
	margin: 0;
}

.ng-dialogbox-subcaption {
	padding: 5px 10px;
	border-bottom: solid 1px #c3c3c3;
	font-size: 12px;
	display: none;
	color: #707070;
}

.ng-dialogbox-content {
	background-color: #fff;
	overflow: auto;
	position: absolute;
	bottom: 0;
	top: 29px;
	right: 0;
	left: 0;
	padding: 15px 20px;
}

.ng-dialogbox-footer {
	background: #f6f6f6;
	border-top: 1px solid #afafaf;
	padding: 7px 11px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	display: none;
}

.ng-dialogbox-footer:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ng-dialogbox-left,
.ng-dialogbox-right {
	margin: 0; padding: 0; line-height: 40px;
}
.ng-dialogbox-left { float: left; }
.ng-dialogbox-right { float: right; }

.ng-dialogbox-full {
	width: 90%;
	height: 90%;
}

.ng-dialogbox-large {
	width: 800px;
	height: 600px;
}

.ng-dialogbox-medium {
	width: 600px;
	height: 450px;
}

.ng-dialogbox-small {
	width: 400px;
	height: 300px;
}

.ng-dialogbox-show-close .ng-dialogbox-close {
	visibility: visible;
}

.ng-dialogbox-show-menu .ng-dialogbox-content {
	bottom: 40px;
}

.ng-dialogbox-show-subcaption .ng-dialogbox-content {
	top: 55px;
}

.ng-dialogbox-show-subcaption .ng-dialogbox-subcaption,
.ng-dialogbox-show-menu .ng-dialogbox-footer {
	display: block;
}

.ng-dialogbox-error {
	color: #c00;
}